body {
  background-color: #202020;
}

p	{
   font-family: "Comic Sans MS";
   color: white;
   margin-left: 8px;
   font-size: 16px;
}


h1	{
   font-family: "Comic Sans MS";
   color: white;
   margin-left: 0px;
   font-size: 22px;

}

a	{
   font-family: "Comic Sans MS";
   color: red;
   margin-left: 2px;
   font-size: 14px;
}

li 	{
  font-family: "Comic Sans MS";
  color: Red;
  margin-left: 10px;
  font-size: 12px;
  display: block;
}

li a {
  display: block;
  padding: 2px 2px;
  text-decoration: none;
}

li a:hover {
  background-color: darkred;
  color: white;
}

ul	{
  font-family: "Comic Sans MS";
  color: Red;
  margin: 0;
  padding: 0;
  font-size: 12px;
  width: 150px;
  height: 100%;
  position: fixed;
  overflow: auto;
}

#header	{
  font-family: "Comic Sans MS";
  color: Red;
  margin-left: 10px;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#toppy {
    font-size: 24px;
    margin-left: -24px;
}

.active {
  background-color: #4CAF50;
  color: white;
}