h2          {
    font-family: "Roboto Slab", serif;
    background-color: #222;
    color: white;
    width: 300px;
}

div.footer  {
    display: block;
    background-color: red;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Comic Sans MS, cursive, sans-serif;
}

a           {
    color: red;
    text-decoration: none;
}

div.footer p{
    margin-left: 10px;
    font-size: 12px;
}

h1.classic {
    font-family: Comic Sans MS, cursive, sans-serif;
}

div         {

}

div.goods   {
    font-family: "Roboto", sans-serif;
    background-color: #222;
    color: white;
    padding-left: 1em;
    padding-right: 2em;
}

div.nav     {
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    width: 10%;
}

div.nav ul  {
   list-style-type: none;
   margin: -10px 10px 0px 0px;
   padding: 10px 0px 0px 0px;
}

div.nav h1  {
    display: block;
    padding: -2px -2px -2px -2px;
}

div.nav li  {
   display: block;
}

div.nav li a{
   padding: 8px;
   display: inline-block;
   background-color: rgb(255, 255, 255);
}